---

---

<section
  id="about"
  class="flex items-center min-h-screen bg-[url('/img/about-bg.svg')] bg-cover sm:bg-none"
>
  <div
    class="w-full flex flex-col-reverse md:flex-row items-center gap-10 md:gap-14 relative py-4 md:py-12 bg-none sm:bg-[url('/img/about-bg.svg')] bg-cover px-12 md:px-4 lg:px-36 xl:px-52"
  >
    <div>
      <h3
        class="about-shadow text-2xl sm:text-4xl text-center md:text-start tracking-tighter font-bold text-gray-950"
      >
        I've been coding for +2 years, on my path I've been working on projects
        that involves mostly react applications and REST APIs.
      </h3>
    </div>
    <div
      class="bg-black w-64 h-64 md:w-96 md:h-96 rounded-full aspect-square flex items-center justify-center text-white text-9xl"
    >
      JI
    </div>
  </div>
</section>

<style>
  .about-shadow {
    text-shadow: 4px 4px #e5e7eb;
  }
</style>
