<section id="contact" class="min-h-screen p-4">
  <header class="mb-4">
    <h3 class="text-5xl text-center tracking-tighter font-bold">Contact</h3>
    <h4 class="text-3xl text-center tracking-tighter font-bold text-gray-800">
      Reach out to me!
    </h4>
  </header>
</section>
