---
import arrowDown from "../assets/arrow-down.svg";
---

<section
  id="hero"
  class="relative intro-fade flex items-center min-h-screen bg-[url('/img/hero-bg.svg')] bg-cover"
>
  <div class="intro-translate -mt-96 ml-3 sm:-mt-64 sm:ml-6">
    <h1 class="text-4xl sm:text-6xl tracking-tighter font-bold">
      Hi, I'm <span class="hero-shadow">Juan Isturiz</span>
    </h1>
    <h2
      class="swing text-2xl sm:text-4xl tracking-tighter font-bold text-gray-900"
    >
      a Fullstack Developer
    </h2>
  </div>
  <div class="absolute bottom-0 left-0 w-full flex justify-center">
    <a href="#about">
      <img
        src={arrowDown.src}
        alt="Arrow Down"
        class="animate-bounce w-11 h-11 opacity-80 transition-all hover:w-12 hover:h-12 hover:opacity-100"
      />
    </a>
  </div>
</section>

<style>
  .hero-shadow {
    text-shadow: 4px 4px #9ca3af;
  }

  .intro-translate {
    animation: bounce-in 1s ease;
  }

  .swing {
    transform-origin: top left;
    animation: swing 5s 1.5s ease infinite;
  }

  @keyframes swing {
    0% {
      transform: rotate(0);
    }
    5.714% {
      transform: rotate(6deg);
    }
    11.429% {
      transform: rotate(-3.5deg);
    }
    17.143% {
      transform: rotate(1deg);
    }
    22.857% {
      transform: rotate(-1deg);
    }
    28.571% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: translateX(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(30px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
