---
import personal from "../assets/personal.jpg";
---

<nav
  class="absolute left-0 top-0 z-20 flex justify-between items-center w-full border-b bg-white py-1 px-4"
>
  <img
    src={personal.src}
    alt={"Personal Picture"}
    width={42}
    height={42}
    class="ml-1 rounded-full border-2 border-black object-cover aspect-square bg-cover"
  />
  <div class="text-lg space-x-4">
    <a
      href=""
      class="py-1.5 px-2 rounded transition-colors duration-200 hover:bg-gray-900 hover:text-white"
      >About</a
    >
    <a
      href=""
      class="py-1.5 px-2 rounded transition-colors duration-200 hover:bg-gray-900 hover:text-white"
      >Projects</a
    >
    <a
      href=""
      class="py-1.5 px-2 rounded transition-colors duration-200 hover:bg-gray-900 hover:text-white"
      >Contact Me</a
    >
  </div>
</nav>
