---
import download from "../assets/arrow-down-to-line.svg";

const navLinks = [
  { label: "About", section: "about" },
  { label: "Stack", section: "stack" },
  { label: "Projects", section: "projects" },
  { label: "Contact", section: "contact" },
];
---

<header
  class="absolute left-0 top-0 z-20 flex justify-between items-center w-full border-b bg-white py-1 px-4"
>
  <button
    class="parent flex items-center gap-1 text-lg bg-black text-white py-1 px-2 rounded"
  >
    <p>Download CV</p>
    <img src={download.src} alt="Download icon" />
  </button>

  <!-- nav -->
  <div class="cursor-pointer space-y-1 lg:hidden">
    <div class="w-6 h-0.5 bg-black"></div>
    <div class="w-6 h-0.5 bg-black"></div>
    <div class="w-6 h-0.5 bg-black"></div>
  </div>
  <!-- large nav -->
  <nav class="hidden lg:block text-lg space-x-4">
    {
      navLinks.map((link) => (
        <a
          href={`#${link.section}`}
          class="py-1.5 px-2 rounded transition-colors duration-200 hover:bg-gray-900 hover:text-white font-medium"
        >
          {link.label}
        </a>
      ))
    }
  </nav>
</header>

<style>
  .parent:hover img {
    animation: download-bounce 1500ms linear infinite;
  }

  @keyframes download-bounce {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(1.5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-1.5px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
