---
import Heading from "./Heading.astro";
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    id: 0,
    name: "My-Portfolio",
    description: "My personal portfolio webpage made with Astro.",
    tags: ["Astro", "TypeScript", "Tailwind"],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/my-portfolio",
    },
  },
  {
    id: 1,
    name: "Images",
    description:
      "A picture sharing social media made with Next 13 server actions.",
    tags: ["TypeScript", "Next.js", "shadcn/ui", "Tailwind", "MongoDB"],
    links: {
      live: "https://images-ten-lilac.vercel.app/",
      code: "https://github.com/JuanIsturiz/images",
    },
  },
  {
    id: 2,
    name: "Theater.io",
    description: "A cinema reserve and discover application.",
    tags: [
      "TypeScript",
      "Next.js",
      "Mantine UI",
      "prisma",
      "tRPC",
      "Supabase",
      "Stripe",
    ],
    links: {
      live: "https://theater-io.vercel.app/",
      code: "https://github.com/JuanIsturiz/theater.io",
    },
  },
  {
    id: 3,
    name: "Pets",
    description:
      "A social media made for users to share their pets made with t3 stack",
    tags: [
      "TypeScript",
      "Next.js",
      "Next Auth",
      "Chakra UI",
      "prisma",
      "tRPC",
      "PlanetScale",
    ],
    links: {
      live: "https://pets-seven-alpha.vercel.app/",
      code: "https://github.com/JuanIsturiz/Pets",
    },
  },
  {
    id: 4,
    name: "Project-Stage",
    description: "A project manager application made with next.js",
    tags: [
      "TypeScript",
      "Next.js",
      "Next Auth",
      "Tailwind",
      "prisma",
      "tRPC",
      "PostgreSQL",
    ],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/Project-Stage",
    },
  },
  {
    id: 5,
    name: "Thoughts",
    description:
      "A mobile application made with react-native where people can share what they're thinking and their emotions.",
    tags: [
      "JavaScript",
      "React Native",
      "Expo",
      "Express",
      "Node.js",
      "MongoDB",
    ],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/Thoughts",
    },
  },
  {
    id: 6,
    name: "E-Commerce-App",
    description:
      "A fullstack E Commerce app made with Postgres, Express, React and Node.",
    tags: ["JavaScript", "React", "Express", "Node.js", "PostgreSQL", "Stripe"],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/E-Commerce-App",
    },
  },
  {
    id: 7,
    name: "EJam-Test-Assignment",
    description: "A landing page for a selling product.",
    tags: ["Astro", "TypeScript", "React", "Tailwind"],
    links: {
      live: "https://e-jam-test-assignment-xi.vercel.app",
      code: "https://github.com/JuanIsturiz/eJam-test-assignment",
    },
  },
  {
    id: 8,
    name: "Reddit-Client",
    description: "This is my prototype of a minimal Reddit Client.",
    tags: ["JavaScript", "React", "Styled Comp."],
    links: {
      live: "https://majestic-axolotl-39705b.netlify.app/",
      code: "https://github.com/JuanIsturiz/Reddit-Client",
    },
  },
  {
    id: 9,
    name: "Recipes",
    description: "A simple app made with laravel.",
    tags: ["PHP", "Laravel", "Tailwind", "mySQL"],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/recipes",
    },
  },
  {
    id: 10,
    name: "Hangman",
    description: "A hangman game made with TypeScript.",
    tags: ["TypeScript", "React", "Styled Comp."],
    links: {
      live: "https://effervescent-lamington-d75f1d.netlify.app/",
      code: "https://github.com/JuanIsturiz/Hangman",
    },
  },
  {
    id: 11,
    name: "Tic-Tac-Toe",
    description: "A tic tac toe game with typeScript.",
    tags: ["TypeScript", "React", "Styled Comp."],
    links: {
      live: "https://silver-cheesecake-1cb0b8.netlify.app/",
      code: "https://github.com/JuanIsturiz/Tic-Tac-Toe",
    },
  },
  {
    id: 12,
    name: "Pomodoro-Clock",
    description:
      "This is a prototype of the 25 + 5 Clock project from freeCodeCamp.",
    tags: ["JavaScript", "React"],
    links: {
      live: "https://codepen.io/JuanIsturiz/pen/KKewWey",
      code: "https://github.com/JuanIsturiz/Pomodoro-Clock",
    },
  },
  {
    id: 13,
    name: "JavaScript-Calculator",
    description:
      "This is a prototype of the JavaScript Calculator project from freeCodeCamp.",
    tags: ["JavaScript", "React"],
    links: {
      live: "https://codepen.io/JuanIsturiz/pen/qBYeWeM",
      code: "https://github.com/JuanIsturiz/JavaScript-Calculator",
    },
  },
  {
    id: 14,
    name: "Drum-Machine",
    description:
      "This is a prototype of the Drum Machine project from freeCodeCamp.",
    tags: ["JavaScript", "React"],
    links: {
      live: "https://codepen.io/JuanIsturiz/details/vYrExbN",
      code: "https://github.com/JuanIsturiz/Drum-Machine",
    },
  },
  {
    id: 15,
    name: "Markdown-Previewer",
    description:
      "This is a prototype of the Markdown Previewer project from freeCodeCamp.",
    tags: ["JavaScript", "React"],
    links: {
      live: "https://codepen.io/JuanIsturiz/pen/xxzbgzp",
      code: "https://github.com/JuanIsturiz/Markdown-Previewer",
    },
  },
  {
    id: 16,
    name: "Random-Quote-Machine",
    description:
      "This is a prototype of the Random Quote Machine project from freeCodeCamp.",
    tags: ["JavaScript", "React", "SCSS"],
    links: {
      live: "https://codepen.io/JuanIsturiz/pen/abGebBR",
      code: "https://github.com/JuanIsturiz/Random-Quote-Machine",
    },
  },
  {
    id: 17,
    name: "ToDo-List",
    description: "This is my first CRUD project, a todo list.",
    tags: ["JavaScript", "HTML", "SCSS"],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/ToDo-List",
    },
  },
  {
    id: 18,
    name: "Mixed-Messages",
    description:
      "This is my first webpage, it shows up random quotes from previous Call of Duty games.",
    tags: ["JavaScript", "HTML", "CSS"],
    links: {
      live: null,
      code: "https://github.com/JuanIsturiz/Mixed-Messages-With-HTML",
    },
  },
];
---

<section
  id="projects"
  class="min-h-[200vh] p-4 pt-12 lg:pt-4 bg-white dark:bg-zinc-950"
>
  <Heading title="Projects" subtitle="Explore my learning sandbox!" />
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto gap-2 px-4 sm:px-12 lg:px-20"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
